.form {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.text {
  width: 200px;
  border-radius: 5px;
  margin-right: 20px;
}

button {
  border-radius: 5px;
}

.outer {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.display {
  padding: 5px;
  margin: 20px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.selected {
  padding: 5px;
  margin: 20px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.d {
  display: none;
}

.float {
  position: fixed;
  width: 50vw;
  height: 80vh;
  top: 10vh;
  left: 25vw;
  animation: float 1.5s;
  overflow: scroll;
  background: #9fcdff;
}

@keyframes float {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
