.letterColorNavbar {
  color: black !important;
  font-size: large;
  font-weight: bold;
}

.color1 {
  background: #f2f3ed;
}

.color2 {
  background: #7c9897;
}

.color3 {
  background: #3fc1c9;
}

.color4 {
  background: #846e5a;
}

.color5 {
  background: #4c8067;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.mainFont {
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
}
.row {
  padding: 25px 0;
}
