.letterColorNavbar{
    color: black !important;
    font-size: large;
    font-weight: bold;
}

.color1{
    background: #F2F3ED;
}

.color2{
    background: #7C9897;
}

.color3{
    background: #3FC1C9;
}

.color4{
    background: #846E5A;
}

.color5{
    background: #4C8067;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.mainFont{
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
}
.row {
    padding: 25px 0;
}
